
.solkutu{width:50%; display: inline-block;border: 3px solid; padding: 10px;justify-content: space-between;
}
.sagkutu{width: 50%;display: inline-block;border: 3px solid; padding: 10px;margin: auto;
}